@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="info" class="alert alert-info">
    </div>
    <h1 class="display-4">Welcome</h1>
</div>

<div class="accordion accordion-flush mt3" id="accordionFlushExample">
</div>

<!--Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="url" class="col-form-label">Url:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="url"  aria-describedby="basic-addon1" disabled>
                        <button class="btn btn-secondary input-group-text" id="basic-addon1" onclick="asd()"><img src="~/icons/link-45deg.svg"/></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/homeIndex.js"></script>
    <script>

        function asd(){
            let value = $("#url").val()
            console.log(value);
            
            navigator.clipboard.writeText(value)
            alert("")
        }
    </script>
}