@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="info" class="alert alert-info">
    </div>
    <h1 class="display-4">Welcome</h1>
</div>

<div class="accordion accordion-flush mt3" id="accordionFlushExample">
</div>


@section Scripts{
    <script src="~/js/homeIndex.js"></script>
}